.checkout {
  bottom: 0;
}
.button {
  border: none;
  background-color: #16b510;
  color: #16b510;
  height: fit-content;
  width: 450px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}
.button_save {
  background-color: #16b510;
  width: 40%;
  height: 60px;
  font-size: 20px;
  border: none;
  color: white;
}

.button_charge {
  background-color: #16b510;
  width: 40%;
  height: 60px;
  font-size: 20px;
  border: none;
  color: white;
}
